# .env
#
# Configuration for the deployment script.

# Tmux session name
TMUX_SESSION_NAME=slurm_deploy

# Comma-separated list of email addresses
EMAIL_TO="one@example.com,another@example.com"

# Email subject
EMAIL_SUBJECT="[slurm-monitor] Deployment Failure"

# Log file location
LOG_FILE="/tmp/deploy.log"

# Parameters for running the server binary
RUN_PARAMS="--data-dir data_dir/"